@import "tailwindcss";

:root {
  --background: #f8f7fb;

  --primary: #3b1254;
  --secondary: #8a5af6;
  --whatsapp: #25d366;

  --text: #060208;

  --surface: #15111c;
  --surface-container: #1d1826;

  --muted: #a8a2b0;
  --border: #302a38;

  --success: #22c55e;
  --error: #ef4444;

  --font-sans: var(--font-plus-jakarta);
  --font-mono: var(--font-jetbrains-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
  --color-whatsapp: var(--whatsapp);
  --color-surface: var(--surface);
  --color-surface-container: var(--surface-container);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-error: var(--error);

  --font-sans: var(--font-plus-jakarta);
  --font-mono: var(--font-jetbrains-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-family: var(--font-plus-jakarta), sans-serif;
}
